<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Project 01 - TumblrMenu.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>198A07A81CF4B80500942E24</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>198A07BC1CF4B80600942E24</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>198A07C71CF4B80600942E24</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
