<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Project 11 - StretchyHeader.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>1909CE9C1D3A8E0F006E4D61</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>1909CEB01D3A8E0F006E4D61</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>1909CEBB1D3A8E0F006E4D61</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
