<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Project 15 - MusicIndicator.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>197014CD1D781592006CF01A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>197014E11D781592006CF01A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>197014EC1D781592006CF01A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
