<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Project 03 - CarouselEffect.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>199D53E41D01D84F00FCCDE4</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>199D53F81D01D84F00FCCDE4</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>199D54031D01D84F00FCCDE4</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
